---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: playnite-web
  namespace: default
spec:
  template:
    spec:
      containers:
        - name: playnite-web
          image: ghcr.io/andrew-codes/playnite-web-app:13-latest
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: playnite-web-sync-library-processor
  namespace: default
spec:
  template:
    spec:
      containers:
        - name: sync-library-processor
          image: ghcr.io/andrew-codes/sync-library-processor:13-latest
