---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: home-assistant-automation-editor
  namespace: default
spec:
  selector:
    matchLabels:
      name: home-assistant-automation-editor
  template:
    metadata:
      labels:
        name: home-assistant-automation-editor
    spec:
      volumes:
        - name: home-assistant-config
          persistentVolumeClaim:
            claimName: home-assistant-config
      imagePullPolicy: IfNotPresent
      containers:
        - name: home-assistant-automation-editor
          image: ghcr.io/saihgupr/homeassistant-editor:latest
          ports:
            - name: http
              containerPort: 54002
              protocol: TCP
          env:
            - name: HA_URL
              value: https://ha.smith-simms.family
            - name: TZ
              value: America/New_York
            - name: SUPERVISOR_TOKEN
              valueFrom:
                secretKeyRef:
                  name: home-assistant
                  key: automation-editor-supervisor-token
          volumeMounts:
            - name: home-assistant-config
              mountPath: /config
          livenessProbe:
            httpGet:
              path: /
              port: http
              scheme: HTTP
            initialDelaySeconds: 60
            timeoutSeconds: 10
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /
              port: http
              scheme: HTTP
            initialDelaySeconds: 60
            timeoutSeconds: 10
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 5
          startupProbe:
            httpGet:
              path: /
              port: http
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 30
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
