---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: playnite-web
  namespace: default
spec:
  template:
    spec:
      containers:
        - name: playnite-web
          image: ghcr.io/andrew-codes/playnite-web-app:PR-919
          env:
            - name: HOST
              value: staging-games.smith-simms.family
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: playnite-web-sync-library-processor
  namespace: default
spec:
  template:
    spec:
      containers:
        - name: sync-library-processor
          image: ghcr.io/andrew-codes/sync-library-processor:PR-919
