---
apiVersion: v1
kind: Service
metadata:
  name: homebox
  namespace: default
spec:
  selector:
    app: homebox
  ports:
    - name: homebox
      port: 7745
      targetPort: http
      protocol: TCP
  type: ClusterIP
---
