apiVersion: apps/v1
kind: Deployment
metadata:
  name: ps5
  namespace: default
spec:
  selector:
    matchLabels:
      app: ps5
  template:
    metadata:
      labels:
        app: ps5
    spec:
      containers:
        - name: ps5
          image: ghcr.io/funkeyflo/ps5-mqtt/amd64:latest
          imagePullPolicy: Always
          command:
            - sh
          args:
            - "-c"
            - /app/run-standalone.sh
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: MQTT_HOST
              value: mqtt
            - name: MQTT_PORT
              value: "1883"
            - name: MQTT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mqtt-credentials
                  key: username
            - name: MQTT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mqtt-credentials
                  key: password
            - name: DEVICE_CHECK_INTERVAL
              value: "5000"
            - name: DEVICE_DISCOVERY_INTERVAL
              value: "60000"
            - name: ACCOUNT_CHECK_INTERVAL
              value: "5000"
            - name: FRONTEND_PORT
              value: "8080"
            - name: CREDENTIAL_STORAGE_PATH
              value: /config/credentials.json
            - name: CONFIG_PATH
              value: /config/config.json
            - name: PSN_ACCOUNTS
              valueFrom:
                secretKeyRef:
                  name: psn-accounts
                  key: accounts
            - name: DEBUG
              value: "@ha:ps5:*"
          volumeMounts:
            - name: ps5-config
              mountPath: /config
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          startupProbe:
            httpGet:
              path: /
              port: 8080
            failureThreshold: 30
            periodSeconds: 10
      volumes:
        - name: ps5-config
          persistentVolumeClaim:
            claimName: ps5-config
