---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: playnite-web
  namespace: default
spec:
  selector:
    matchLabels:
      app: playnite-web
  template:
    metadata:
      labels:
        app: playnite-web
    spec:
      containers:
        - name: playnite-web
          image: ghcr.io/andrew-codes/playnite-web-app:13-latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          env:
            - name: DB_CONNECTION_LIMIT
              value: "12"
            - name: LOG_LEVEL
              value: debug
            - name: PORT
              value: "3000"
            - name: HOST
              value: games.smith-simms.family
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: playnite-web-credentials
                  key: database-url
            - name: SECRET
              valueFrom:
                secretKeyRef:
                  name: playnite-web-credentials
                  key: secret
            - name: DISABLE_CSP
              value: "true"
            - name: CSP_ORIGINS
              value: "*.cloudflareinsights.com,*.smith-simms.family"
            - name: ADDITIONAL_ORIGINS
              value: ""
            - name: MQTT_HOST
              value: mqtt
            - name: MQTT_PORT
              value: "1883"
            - name: MQTT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mqtt-credentials
                  key: username
            - name: MQTT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mqtt-credentials
                  key: password
          volumeMounts:
            - name: games-assets
              mountPath: /opt/playnite-web-app/public/cover-art
          # livenessProbe:
          #   httpGet:
          #     path: /
          #     port: 3000
          #   initialDelaySeconds: 10
          #   periodSeconds: 10
          # readinessProbe:
          #   httpGet:
          #     path: /
          #     port: 3000
          #   initialDelaySeconds: 5
          #   periodSeconds: 5
          # startupProbe:
          #   httpGet:
          #     path: /
          #     port: 3000
          #   failureThreshold: 30
          #   periodSeconds: 10
      volumes:
        - name: games-assets
          persistentVolumeClaim:
            claimName: playnite-web-assets
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: playnite-web-db
  namespace: default
spec:
  selector:
    matchLabels:
      app: playnite-web-db
  template:
    metadata:
      labels:
        app: playnite-web-db
    spec:
      containers:
        - name: postgres
          image: postgres:13.22
          imagePullPolicy: IfNotPresent
          ports:
            - name: postgres
              containerPort: 5432
              protocol: TCP
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: playnite-web-db-credentials
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: playnite-web-db-credentials
                  key: password
            - name: POSTGRES_DB
              value: games
          volumeMounts:
            - name: playnite-web-db
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: playnite-web-db
          persistentVolumeClaim:
            claimName: playnite-web-db
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: playnite-web-sync-library-processor
  namespace: default
spec:
  selector:
    matchLabels:
      app: playnite-web-sync-library-processor
  template:
    metadata:
      labels:
        app: playnite-web-sync-library-processor
    spec:
      containers:
        - name: sync-library-processor
          image: ghcr.io/andrew-codes/sync-library-processor:13-latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3001
              protocol: TCP
          env:
            - name: COVER_ART_PATH
              value: /opt/playnite-web/game-assets/cover-art
            - name: MQTT_HOST
              value: mqtt
            - name: MQTT_PORT
              value: "1883"
            - name: MQTT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mqtt-credentials
                  key: username
            - name: MQTT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mqtt-credentials
                  key: password
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: playnite-web-credentials
                  key: database-url
            - name: PORT
              value: "3001"
          volumeMounts:
            - name: games-assets
              mountPath: /opt/playnite-web/game-assets
      volumes:
        - name: games-assets
          persistentVolumeClaim:
            claimName: playnite-web-assets
