---
apiVersion: v1
kind: Service
metadata:
  name: playnite-web-db
  namespace: default
spec:
  selector:
    app: playnite-web-db
  ports:
    - name: postgres
      port: 5432
      targetPort: postgres
      protocol: TCP
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: playnite-web
  namespace: default
spec:
  selector:
    app: playnite-web
  ports:
    - name: http
      port: 3000
      targetPort: http
      protocol: TCP
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: playnite-web-sync-library-processor
  namespace: default
spec:
  selector:
    app: playnite-web-sync-library-processor
  ports:
    - name: http
      port: 3001
      targetPort: http
      protocol: TCP
  type: ClusterIP
---

