---
apiVersion: v1
kind: Service
metadata:
  name: music-assistant
  namespace: default
spec:
  ports:
    - name: http
      protocol: TCP
      port: 8095
      targetPort: 8095
  selector:
    name: music-assistant
  type: ClusterIP
---
